.BoardsPanel {
  font-family: DejaVu Sans Mono, monospace;

  h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 60px;
  }
}

.wrapper {
  display: flex;
  justify-content: start;
  margin: 70px;

}
