.HeaderNotifications {
  position: relative;

  & .notificationsIcon {
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: orange;
    }
  }

  & .notificationsList {
    position: absolute;
    width: 300px;
    min-height: 220px;
    background-color: #eaeaea;
    left: -270px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    z-index: 2;

    &:before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 10px;
      bottom: 100%;
      border-bottom-color: #eaeaea;
      border-width: 10px;
      margin-left: 0;
    }

    & h3 {
      color: #000;
    }

    & .notification {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      height: 50px;
      background-color: #f3f3f3;
      margin: 10px auto;
      border-radius: 10px;
      font-size: 12px;
      padding: 3px;
      box-sizing: border-box;
      color: #000;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

      & .controlButtons {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        width: 60%;
        margin: 0 auto;

        & .accept, & .decline {
          height: 20px;
          width: 60px;
          text-align: center;
          line-height: 20px;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          transition: background-color .3s;
        }

        & .accept {
          background-color: seagreen;

          &:hover {
            background-color: darken(green, 5%);
          }
        }

        & .decline {
          background-color: indianred;

          &:hover {
            background-color: darken(red, 10%);
          }
        }
      }
    }

    & .seeAllLink {
      text-align: center;

      & a {
        color: orange;
        transition: color .3s;

        &:hover {
          color: blue;
        }
      }
    }
  }
}
