.Board {
  display: block;
  position: relative;
  width: 250px;
  height: 150px;
  background-color: #ebebee;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #0e0a0a8e;
  overflow: hidden;
  padding: 2px;
  cursor: pointer;

  h2 {
    font-size: 20px;
    text-align: center;
    text-decoration: none;

  }

  button {
    display: none;
    position: absolute;
    bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;

    img {
      height: 20px;
      width: 20px;
    }
  }

  &:hover button {
    display: block;
  }

  .delete {
    right: 10px;
  }

  .edit {
    right: 50px;
  }
}
