.Board {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #ebebee;
  border-radius: 5px;
  margin-right: 40px;
  box-shadow: 10px 5px 5px #0e0a0a8e;
  overflow: hidden;
  padding: 2px;
  cursor: pointer;

  h2 {
    font-size: 14px;
    text-align: center;
  }

}
