body{
    overflow-x: auto;
}

.boardTitle{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 60px;
    font-family: DejaVu Sans Mono, monospace;
}

.board{
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px; 
    background-color: #a5bcd8;
}

::-webkit-scrollbar-thumb {
    background-color: #cfa6bf;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #be536a;
}

.title{
    font-size: 22px;
    font-weight: bold;
    font-family: Courier, monospace;
    padding: 12px;
}