.window {
  background-color: rgba(0, 0, 0, .50);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
  align-items: flex-start;
  z-index: 10;
}

.CardDetailModal {
  margin: 50px auto;
  padding: 15px;
  width: 500px;
  min-height: 400px;

  background-color: #f4f5f7;
  border-radius: 10px;
  overflow: hidden;

  position: relative;

  button {
    border: none;
    border-radius: 2px;
    width: 80px;
    padding: 7px;
    cursor: pointer;
    color: #f4f5f7;
    font-weight: 600;
    outline: none;
  }

}

.save{
  background-color: #5aac44;
  &:hover {
    background-color: #6dc257;
  }
}

.del{
  background-color: #ac4444;
  &:hover {
    background-color: #c25757;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #3b3b3b;
}

textarea, input:not([type="file"]) {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.title {

  textarea {
    font-weight: 600;
    font-size: 20px;
    height: 30px;
    color: #3b3b3b;
    width: 80%;
  }
}

.description {
  display: flex;

  .icon {
    margin-top: 10px;
  }
}

.close {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;


  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.changeDescription {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 14px;

  border-radius: 5px;
  background-color: rgba(9, 30, 66, .04);
  color: #3b3b3b;

  margin: -10px 0 0 40px;
}

.hidden {
  display: none;
}

.textareaChange {
  textarea {
    width: 400px;
    font-size: 14px;
    background-color: #ffff;
    min-height: 100px;
    border-radius: 10px;

    padding: 10px;

    &:focus {
      border: 2px solid #5aac44;
    }
  }
}


.editControls {
  display: flex;

  button {
    margin: 10px 10px 0 0;
  }

  .close {
    position: relative;

    left: 10px;
    top: 16px;
  }
}

.dispatch {
  text-align: center;
  button {
    margin-right: 10px;
  }
}
