body{
    overflow-x: auto;
}

.fixed{
    width: 1vw;
    position: sticky;
    left: 60px;
    z-index: 1;
}

.wrap{
    min-width: 1500px;
    display: flex;
    justify-content: space-between;
}

.boardTitle{
    font-size: 40px;
    margin-top: 20px;
    font-family: DejaVu Sans Mono, monospace;
}

.back{
    min-width: 100px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.show{
    margin-top: 20px;
}

.board{
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
}

::-webkit-scrollbar {
    width: 0;
    height: 13px; 
    background-color: #a5bcd8;
}

::-webkit-scrollbar-thumb {
    background-color: #cfa6bf;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #be536a;
}

.title{
    font-size: 22px;
    font-weight: bold;
    font-family: Courier, monospace;
    padding: 12px;
}