.AddBoard {
  display: block;
  width: 250px;
  height: 150px;
  box-shadow: 10px 5px 5px #0e0a0a8e;
  background-color: #ebebee;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;

  &:hover .add {
    border-color: green;
  }

  .add {
    display: block;
    border: 3px dashed #c6c6c6;
    color: #333333;
    background: none;
    border-radius: 50%;
    font-size:  64px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin: 20px auto 0;
    width: 100px;
    height: 100px;
  }

}
