.AdminNavLink {
  position: relative;
  width: 100%;
  min-height: 80px;
  line-height: 80px;
  text-align: left;
  padding-left: 60px;
  font-size: 24px;
  font-weight: bold;
  transition: background-color .2s;
  cursor: pointer;
  box-sizing: border-box;

  & a {
    display: block;
  }

  &:hover {
    background-color: darken(#fff, 10%);
  }

  & .icon {
    position: absolute;
    top: 0;
    left: 20px;
  }
}

.active {

  & > div {
    border-right: 4px solid orange;
  }
}

a {
  color: #000;
  text-decoration: none;
}
