.CardMemberSelector {
  select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    margin-left: 30px;
    width: 400px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 150ms ease;
    outline: none;
  }
}
