.Comments {

  span {
    display: block;
    font-weight: 600;
    color: #2b446f;
  }
}

.wrapper {
  display: inline-block;
  background-color: #fff;
  margin: 5px 0 0;
  border-radius: 5px;

  border: 1px solid #c6c6c6;

  p {
    margin: 10px 0;
    font-size: 14px;
    padding: 0 10px;
  }
}

.action {
  display: flex;

  p {
    margin-right: 5px;
    font-size: 12px;
    text-decoration: underline;
  }
}

.user{
  display: flex;
  margin-top: 10px;

  .icon {
    background-color: #5aac44;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

}

.commentContainer {
  margin: 0 0 0 40px;
}

